.contact img {
  max-width: 100%;
}

.contact {
  background: linear-gradient(to bottom right, #132E4A, #070818, #070818);
}



.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact .field__input, .contact textarea {
  border: 1px solid #132E4A;
  border-radius: 8px solid #132E4A  ; /* Bordures arrondies pour les champs de formulaire */
  background-color: #132E4A; /* Optionnel: Définit la couleur de fond des champs à blanc pour une meilleure visibilité */
  color: #ffffff; /* Optionnel: Définit la couleur du texte à noir pour une meilleure lisibilité */
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }

  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
